<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="font-sans">
    <main class="w-full max-w-3xl mx-auto my-12">
        {% for (category, links) in links_by_category %}
            <p>{{ category }}</p>
            {% for link in links %}
                <div class="flex mb-32">
                    <a href="{{ link.url }}" class="w-1/2 mr-8 border flex justify-center">
                        <img src="/static/images/{{ link.id }}.jpg" alt="{{ link.title }}">
                    </a>
                    <div class="w-1/2 flex flex-col justify-around">
                        <div>
                            <h2 class="text-3xl leading-none mb-1"><a href="{{ link.url }}">{{ link.title }}</a></h2>
                            <a href="{{ link.url }}" class="block text-lg truncate px-px text-blue-700">{{ link.url }}</a>
                        </div>
                        <div class="w-full">
                            {% match flash_message %}
                                {% when Some with (message) %}
                                    {% if message.0 == link.id %}
                                        <p class="py-2 text-center w-full bg-green-100 border border-green-900 text-green-900">{{ message.1 }}</p> 
                                    {% endif %}    
                                {% when None %}
                            {% endmatch %}
                            {% match link.name %}
                                {% when Some with (name) %}
                                    <p class="py-3 uppercase tracking-tight font-semibold text-gray-600 text-center w-full">Déjà pris</p>
                                {% when None %}
                                    <form action="/take/{{ link.id }}" method="post" class="w-full mb-0">
                                        <label for="" class="block px-4 mb-1 font-semibold text-gray-600 uppercase text-sm">Je m'occupe de ça !</label>
                                        <div class="flex">
                                            <input type="text" name="name" class="w-full border text-xl px-4 py-2" placeholder="Mon nom…">
                                            <button class="border-r border-t border-b px-4 py-2 uppercase tracking-tight text-sm">Valider</button>
                                        </div>
                                    </form>
                            {% endmatch %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
    </main>
</body>
</html>